.navbar-container {
  background: rgb(179, 179, 179);
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.navbar-container button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  margin: 10px;
}

.navbar-container button:hover {
  color: #ffffff;
  background: #00ffff;
  border-color: #00ffff;
  transition: all 0.4s ease 0s;
}
